1/1.pages
1/clip.mp4
2/2.pages
3/2.input
3/3.pages
3/image.png
3/out
3/pic
3/pic.jpg
3/project.py
3/utils.py
4/jpeg-codec-master
4/JPEG-Image-Compressor-main.zip
4/photo1.png
4/گزارشکار.pages
5/app.py
5/dash-streaming-main
5/dash-streaming-main.zip
5/imdb-frontend-master.zip
5/Mahdieh-Sadat_demo.mp4
5/MM_DASH
5/MM_DASH.zip
5/mpd-dash.txt
5/soheil_fakour_demo.mp4
